
#input { 
    width: 100%; 
}

.hidden {
    display: none;
}

#success {
  border: solid green 2px;
  background: #88ff88;
}

#ast, #cst, #unexerr {
  border: solid red 2px;
}

.errtable, .errtable td {
  border: solid black 1px;
}

.warning {
  background: #ffff44;
  border: solid purple 3px;
}

.error {
  background: #ff4444;
}
