
#input { 
    width: 100%; 
}

.hidden {
    display: none;
}

#success {
  border: solid green 2px;
  background: #88ff88;
}

#ast, #cst, #unexerr {
  border: solid red 2px;
}

.errtable th, .errtable td {
  border: solid black 1px;
  padding: 5px;
}

.warning {
  background: #ffff88;
}

.error {
  background: #ff8888;
}
