
#input { 
    width: 100%; 
}

.hidden {
    display: none;
}

#success {
  border: solid green 2px;
}

#ast, #cst, #unexerr {
  border: solid red 2px;
}

#ast > table, #cst > table, #ast td, #cst td {
  border: solid black 1px;
}
